.footer.mx-0.w-full.py-4
  .justify-center.text-center.px-4.text-sm.flex.text-gray-300
      a.flex.justify-center.my-8(href='https://xinxiao.tech?utm_source=idea')
        span A&nbsp;
        span.text-red-600 Tiny New&nbsp;
        span Product