html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 新小灵感

    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/common.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/index.css?v=<!--@echo curtime -->')
    meta(name='msapplication-tap-highlight', content='no')
  body
    .section
      .container.pt-0.md_pt-6
        .flex.flex-col.md_flex-row.items-center.py-10.md_py-0
          .px-0.md_pr-8.flex-grow.text-white.text-center
            h1.text-lg.font-bold 隐私政策
            p.my-6 我们不收集任何个人数据